yamale>=3.0.1
numpy>=1.19.0
opencv-python>=4.3.0.36
scikit-image>=0.17.2
Pillow>=7.2.0
Jinja2>=2.11.2
tqdm>=4.47.0
pylint>=2.5.3
flake8>=3.8.3
tox>=3.17.0
pytest>=5.4.3
coverage>=5.2
pydocstyle>=5.0.2
pyyaml>=5.3.1
